# Ignore compiled Python files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore specific files
config.toml
output.log
test.py

# Ignore tmp
tmp/*

# Ignore lib except some files
PiPerW/lib/*
!PiPerW/lib/gadget/*
PiPerW/lib/gadget/functions/*
!PiPerW/lib/README.md

functions/*

# Ignore logs
logs/*
!PiPerW/logs/README.md

# Ignore data
data/*

# Ignore music except some files
apps/PiFM/Play_Music/music/*
!apps/PiFM/Play_Music/music/README.md
