PiPerW/__pycache__/*
PiPerW/*.pyc
PiPerW/*.pyo
PiPerW/*.pyd
PiPerW/__pycache__/*
config.toml
output.log
*.pyc
test.py
config.toml
PiPerW/tmp/display.png

lib/*
!lib/README.md
PiPerW/lib/init/*

apps\PiFM\Play Music\music/*
!apps\PiFM\Play Music\music/README.md
