# Ignore compiled Python files
PiPerW/__pycache__/
PiPerW/*.pyc
PiPerW/*.pyo
PiPerW/*.pyd

# Ignore specific files
config.toml
output.log
test.py

# Ignore tmp
PiPerW/tmp/*

# Ignore lib except some files
lib/
!PiPerW/lib/init/hid_script
!lib/README.md

# Ignore music except some files
apps/PiFM/Play Music/music/
!apps/PiFM/Play Music/music/README.md
