[general]
theme = "default"
debug = true
first_run = true

[display]
rotate = 0
driver = "only_web"
timeout = 10

[display_cast]
default = false
streaming = "ffmpeg"

[network]
interface = false
ask_interface = true

[bluetooth]
interface = false
ask_interface = true

[pheripherals]
controllers = ["keyboard"]


[bad_usb]
keyboard = "/dev/hidg0"
mouse = "/dev/hidg1"

[plugins]
enabled = true
folder = "./plugins"
