setuptools
toml
luma.oled
pillow<10.4
RPi.GPIO
colorlog
keyboard
adafruit-circuitpython-rgb-display
qrcode
smbus
cc1101
pn532pi
numpy
psutil
# Optional: flask is only needed if display_cast is enabled in config.toml.
flask
